body {
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
	text-align: center;
}

a {
	color: #4183C4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.site {
	width: 920px;
	text-align: left;
	margin: 0px auto 0px auto;
	padding-bottom: 25px;
}

#commit {
	overflow: hidden;
}

#commit .envelope {
	height: 81px;
	background-color: #EAF2F5;
	border-top: 1px solid #BEDCE7;
	border-bottom: 1px solid #BEDCE7;
	border-left: 1px solid #BEDCE7;
	border-right: 1px solid #BEDCE7;
	padding: 0px 0.7em 0.7em;
	overflow: hidden;
}

#commit .human {
	float: left;
	padding-top: 0.7em;
	width: 50em;
}

#commit .human .message {
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	font-size: 80%;
}

#commit .human .message pre {
	white-space: pre-wrap;
	width: 48em;
	word-wrap: break-word;
}

#commit .human .actor {
	clear: left;
	margin-top: 0.75em;
}

#commit .human .actor .author {
	line-height: 1.5em;
}

#commit .human .actor .date {
	color: #888;
	font-size: 90%;
	line-height: 1em;
}

#commit .machine {
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	font-size: 0.85em;
	line-height: 1.5em;
	padding: 0.8em 0px 0.8em 1.2em;
	width: 18em;
	float: right;
	color: gray;
	border-left: 1px solid #BEDCE7;
}

.tree-browser {
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	font-size: 90%;
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
	margin-bottom: 1em;
	margin: 0px 0px 1em;
	width: 920px;
}

.tree-browser th {
	background-color: #EAEAEA;
	border-bottom: 1px solid #D8D8D8;
	color: #999;
	font-weight: normal;
	padding: 0.5em 0.3em;
	text-align: left;
}

.tree-browser td {
	background: #F8F8F8;
	border-bottom: 1px solid #E1E1E1;
	color: #484848;
	padding: 0.5em 0.3em;
}

.tree-browser .content {
	width: 157px;
}

.tree-browser .icon {
	width: 16px;
}

.tree-browser .age {
	width: 167px;
}

.tree-browser .message {
	width: 554px;
}

.breadcrumbs {
	padding-top:	15px;
	padding-bottom:	15px;
	font-size:		19px;
}

#file {
	border: 1px solid #CCC;
	margin: 0px 0px;
	margin-bottom: 1em;

}

#file .data {
	width: 918px;
	overflow-x: auto;
	overflow-y: auto;
}

#file .meta .info {
	float: left;
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	height: 33px;
	line-height: 33px;
}

#file .meta {
	background: #EEE;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	color: #333;
	font-size: 12px;
	height: 33px;
	line-height: 33px;
	overflow: hidden;
	padding: 0px 5px;
	text-shadow: rgba(255, 255, 255, 0.496094) 1px 1px 0px;
}

#file .meta .icon {
	background: #F7F7F7;
	border-bottom-color: #E5E5E5;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border: 1px solid;
	border-right-color: #E5E5E5;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	float: left;
	line-height: 0;
	margin: 5px 5px 0px 0px;
	padding: 3px;
}

#file .actions {
	float: right;
	display: block;
	height: 33px;
	line-height: 33px;
	list-style-type: disc;
	width: 125px;
	margin: 0;
	font-family: helvetica, arial, freesans, clean, sans-serif;
}

#file .actions li {
	list-style-type: none;
	height: 33px;
	line-height: 33px;
	margin: 0px 0px 0px 7px;
	float: left;
	font-size: 11px;
	display: list-item;
}

#file .actions li a {
	font-weight: bold;
}

#file .data table {
}

#file .data .linenumber {
	background-color: #ECECEC;
	border-right: 1px solid #DDD;
	color: #AAA;
	padding: 1em 0.5em;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	text-align: right;
}

#file .data .code {
	padding: 0;
	margin: 0;
	padding-left: 1em;
	font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
	font-size: 90%;
	white-space: pre;
}

#blame {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin: 0px 0px;
	margin-bottom: 1em;
}

#blame .data {
	width: 918px;
	overflow-x: auto;
	overflow-y: auto;
	border-right: 1px solid #ccc;
}

#blame .commitinfo {
	background-color: #f8f8f8;
}

#blame .commitinfo code {
	font-size: 12px;
}

#blame .commitinfo .date {
	font-size: 11px;
	color: #666;
	font-family: helvetica, arial, freesans, clean, sans-serif;
}

#blame .commitinfo .message {
	font-size: 11px;
	font-family: helvetica, arial, freesans, clean, sans-serif;
}

#blame .linenumber {
	background-color: #ECECEC;
	border-right: 1px solid #DDD;
	color: #AAA;
	padding: 1em 0.5em;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	text-align: right;
}

#blame .code {
	padding: 0;
	margin: 0;
	padding: 1em 0.5em;
	padding-top: 0;
	padding-bottom: 0;
	font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
	font-size: 90%;
	white-space: pre;
	background-color: #f8f8ff;
}

#blame .first {
	border-top: 1px solid #CCC;
}

#blame .meta .info {
	float: left;
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	height: 33px;
	line-height: 33px;
}

#blame .meta {
	background: #EEE;
	border-top: 1px solid #ccc;
	color: #333;
	font-size: 12px;
	height: 33px;
	line-height: 33px;
	overflow: hidden;
	padding: 0px 5px;
	text-shadow: rgba(255, 255, 255, 0.496094) 1px 1px 0px;
}

#blame .meta .icon {
	background: #F7F7F7;
	border-bottom-color: #E5E5E5;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border: 1px solid;
	border-right-color: #E5E5E5;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	float: left;
	line-height: 0;
	margin: 5px 5px 0px 0px;
	padding: 3px;
}

#blame .actions {
	float: right;
	display: block;
	height: 33px;
	line-height: 33px;
	list-style-type: disc;
	width: 130px;
	margin: 0;
	font-family: helvetica, arial, freesans, clean, sans-serif;
}

#blame .actions li {
	list-style-type: none;
	height: 33px;
	line-height: 33px;
	margin: 0px 0px 0px 7px;
	float: left;
	font-size: 11px;
	display: list-item;
}

#blame .actions li a {
	font-weight: bold;
}


