ul.browser
{
	margin: 0;
	padding: 0;
	background-color: rgba(243, 243, 243, 0.84);
	border-collapse: separate;
	border-spacing: 0px 0px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

ul.browser li
{
	list-style-type: none;
	font-family: Monaco,'Courier New','DejaVu Sans Mono','Bitstream Vera Sans Mono',monospace;
	font-size: 90%;
	color: #484848;
	padding: 6px 4px;
	border-bottom: 1px solid #888;
	border-left: 4px #bedce7 solid;
}

ul.browser li:last-child
{
}

ul.browser li a, ul.browser li p
{
	padding: 6px 4px;
	padding-left: 20px;
}

ul.browser li p
{
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

ul.browser li a.folder
{
	background: url(../images/icons/dir.png) no-repeat 0 3px;
}

ul.browser li a.file
{
	background: url(../images/icons/txt.png) no-repeat 0 3px;
}

ul.browser li a.back
{
	background: url(../images/icons/back.png) no-repeat 0 5px;
}

ul.browser li p.submodule
{
	background: url(../images/icons/link.png) no-repeat;
}
