
.shortlog
{
	margin: 0;
	padding: 0;
	background-color: rgba(243, 243, 234, 0.84);
	border-collapse: separate;
	border-spacing: 0px 0px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.shortlog tr
{
	border-bottom: 1px solid #ccc;
}

.shortlog:last-child
{
	border-bottom: 0;
}

.shortlog td
{
	vertical-align: top;
	color: #333;
	font-size: 90%;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: rgba(243, 243, 234, 0.847);
	border-bottom: 1px solid #888;
}

.shortlog td:first-child
{
	border-left: 4px #bedce7 solid;
}

.shortlog .author
{
	white-space: nowrap;
	width: 130px;
}

.shortlog .commit-id
{
	padding-left: 15px;
	width: 70px;
}

.shortlog .message,
.shortlog .commit-id
{
	font-family: Monaco,'Courier New','DejaVu Sans Mono','Bitstream Vera Sans Mono',monospace;
}
