body {
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
	text-align: center;
}

a {
	color: #4183C4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.site {
	width: 920px;
	text-align: left;
	margin: 0px auto 0px auto;
	padding-bottom: 25px;
}

#commit {
	overflow: hidden;
}

#commit .envelope {
	background-color: #EAF2F5;
	border-top: 1px solid #BEDCE7;
	border-bottom: 1px solid #BEDCE7;
	border-left: 1px solid #BEDCE7;
	border-right: 1px solid #BEDCE7;
	padding: 0px 0.7em 0.7em;
	overflow: hidden;
}

#commit .human {
	float: left;
	padding-top: 0.7em;
	width: 50em;
}

#commit .human .message {
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	font-size: 80%;
}

#commit .human .message pre {
	white-space: pre-wrap;
	width: 48em;
	word-wrap: break-word;
}

#commit .human .actor {
	clear: left;
	margin-top: 0.75em;
}

#commit .human .actor .author {
	line-height: 1.5em;
}

#commit .human .actor .date {
	color: #888;
	font-size: 90%;
	line-height: 1em;
}

#commit .machine {
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	font-size: 0.85em;
	line-height: 1.5em;
	padding: 0.8em 0px 0.8em 1.2em;
	width: 18em;
	float: right;
	color: gray;
	border-left: 1px solid #BEDCE7;
}

.tree-browser {
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	font-size: 90%;
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
	margin-bottom: 1em;
	margin: 0px 0px 1em;
	width: 920px;
}

.tree-browser th {
	background-color: #EAEAEA;
	border-bottom: 1px solid #D8D8D8;
	color: #999;
	font-weight: normal;
	padding: 0.5em 0.3em;
	text-align: left;
}

.tree-browser td {
	background: #F8F8F8;
	border-bottom: 1px solid #E1E1E1;
	color: #484848;
	padding: 0.5em 0.3em;
}

.tree-browser .content {
	width: 878px;
}

.tree-browser .icon {
	width: 16px;
}

.tree-browser .age {
	width: 167px;
}

.tree-browser .message {
	width: 554px;
}

.breadcrumbs {
	padding-top:	15px;
	padding-bottom:	15px;
	font-size:		19px;
}

#file {
	border: 1px solid #CCC;
	margin: 0px 0px;
	margin-bottom: 1em;

}

#file .data {
	width: 918px;
	overflow-x: auto;
	overflow-y: auto;
}

#file .meta .info {
	float: left;
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	height: 33px;
	line-height: 33px;
}

#file .meta {
	background: #EEE;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	color: #333;
	font-size: 12px;
	height: 33px;
	line-height: 33px;
	overflow: hidden;
	padding: 0px 5px;
	text-shadow: rgba(255, 255, 255, 0.496094) 1px 1px 0px;
}

#file .meta .icon {
	background: #F7F7F7;
	border-bottom-color: #E5E5E5;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border: 1px solid;
	border-right-color: #E5E5E5;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	float: left;
	line-height: 0;
	margin: 5px 5px 0px 0px;
	padding: 3px;
}

#file .actions {
	float: right;
	display: block;
	height: 33px;
	line-height: 33px;
	list-style-type: disc;
	width: 131px;
	margin: 0;
	font-family: helvetica, arial, freesans, clean, sans-serif;
}

#file .actions li {
	list-style-type: none;
	height: 33px;
	line-height: 33px;
	margin: 0px 0px 0px 7px;
	float: left;
	font-size: 11px;
	display: list-item;
}

#file .actions li a {
	font-weight: bold;
}

#file .data table {
}

#file .data .linenumber {
	background-color: #ECECEC;
	border-right: 1px solid #DDD;
	color: #AAA;
	padding: 1em 0.5em;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	text-align: right;
}

#file .data .code {
	padding: 0;
	margin: 0;
	padding-left: 1em;
	font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
	font-size: 90%;
	white-space: pre;
}

#blame {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin: 0px 0px;
	margin-bottom: 1em;
}

#blame .data {
	width: 918px;
	overflow-x: auto;
	overflow-y: auto;
	border-right: 1px solid #ccc;
}

#blame .commitinfo {
	background-color: #f8f8f8;
	padding: 0.2em 0.5em;
}

#blame .commitinfo code {
	font-size: 12px;
}

#blame .commitinfo .date {
	font-size: 11px;
	color: #666;
	font-family: helvetica, arial, freesans, clean, sans-serif;
}

#blame .commitinfo .message {
	font-size: 11px;
	font-family: helvetica, arial, freesans, clean, sans-serif;
}

#blame .linenumber {
	background-color: #ECECEC;
	border-right: 1px solid #DDD;
	color: #AAA;
	padding: 1em 0.5em;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	text-align: right;
}

#blame .code {
	padding: 0;
	margin: 0;
	padding: 1em 0.5em;
	padding-top: 0;
	padding-bottom: 0;
	font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
	font-size: 90%;
	white-space: pre;
	background-color: #f8f8ff;
}

#blame .first {
	border-top: 1px solid #CCC;
}

.meta .info {
	float: left;
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	height: 33px;
	line-height: 33px;
}

.meta {
	background: #EEE;
	border-top: 1px solid #ccc;
	color: #333;
	font-size: 12px;
	height: 33px;
	line-height: 33px;
	overflow: hidden;
	padding: 0px 5px;
	text-shadow: rgba(255, 255, 255, 0.496094) 1px 1px 0px;
}

.meta .icon {
	background: #F7F7F7;
	border-bottom-color: #E5E5E5;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border: 1px solid;
	border-right-color: #E5E5E5;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	float: left;
	line-height: 0;
	margin: 5px 5px 0px 0px;
	padding: 3px;
}

.meta .actions {
	float: right;
	display: block;
	height: 33px;
	line-height: 33px;
	list-style-type: disc;
	width: 136px;
	margin: 0;
	font-family: helvetica, arial, freesans, clean, sans-serif;
}

.meta .actions li {
	list-style-type: none;
	height: 33px;
	line-height: 33px;
	margin: 0px 0px 0px 7px;
	float: left;
	font-size: 11px;
	display: list-item;
}

#blame .actions li a {
	font-weight: bold;
}

.diff-container {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin: 0px 0px;
	margin-bottom: 1em;
	margin-top: 20px;
}

.diff-code {
	width: 918px;
	overflow: auto;
}

.diff-code div {
	font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
	font-size: 95%;
	white-space: pre;
	background-color: #f8f8ff;
}

.diff-code .diff-remove {
	background-color: #FDD;
	color: black;
}

.diff-code .diff-add {
	background-color: #DFD;
	color: black;
}

.diff-code .diff-change {
	background-color: #EAF2F5;
	color: #999;
}

.diff-code .diff-note {
	color: #777;
	font-size: 90%;
	padding: 5px 10px;
}

.note {
	color: #777;
	font-size: 90%;
	padding: 5px 10px;
}

#file .meta {
	border-top: 0;
}

#diff-toc {
	border-spacing: 0px 0px;
	border-top: 1px solid #DDD;
	margin: 10px 0px;
	padding: 0px;
	width: 100%;
}

#diff-toc td {
	border-bottom: 1px solid #DDD;
	padding: 0.4em 5px;
	line-height: 16px;
}

#diff-toc .stat-icon {
	display: block;
	height: 19px;
	text-indent: -9999px;
	width: 20px;
}

#diff-toc .added {
	background-position: 0px 0px;
}

#diff-toc .modified {
	background-position: 0px -50px;
}

#diff-toc .renamed {
	background-position: 0px -150px;
}

#diff-toc .removed {
	background-position: 0px -100px;
}

#diff-toc .status {
	width: 20px;
}

#diff-toc .diffstat {
	text-align: right;
	white-space: nowrap;
}

#diff-toc .diffstat {
	padding-right: 0px;
	width: 1%;
}

#diff-toc .diffstat .stats {
	color: ghostwhite;
	background-color: #444;
	font-size: 10px;
	padding: 2px 7px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.commits-condensed {
	border: solid #DDD;
	border-width: 1px 1px 0px;
	margin-top: 15px;
}

.commits-condensed td {
	border-bottom: 1px solid #DDD;
	padding: 0.4em 0.5em 0.4em 1.5em;
	padding-left: 1.5em;
	vertical-align: top;
}

.commits-condensed td.toggle {
	background-color: #eee;
}

.commits-condensed td.commit {
	padding-left: 0.5em;
}

.commits-condensed td.message {
	padding-left: 5px;
}

.commits-condensed td.date {
	color: #777;
	text-align: right;
	width: 120px;
}

.repo {
	border: 1px solid #DDD;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0px 0px 10px;
	width: 450px;
}

.repo-top {
	padding: 7px 7px;
	padding-bottom: 14px;
}

.repo-top a {
	font-weight: bold;
	font-size: 105%;
}

.repo-bottom {
	border-top: 1px solid #DDD;
	color: #444;
	padding: 7px 7px;
	background-color: #efefef;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#EFEFEF));
}

.repo-bottom .date {
	color: #888;
	font-size: 11px;
	margin: 0px;
}

#repo {
	width: 920px;
	margin: 0px 0px 10px;
}

#repo ul.menu {
	background-color: #EAEAEA;

	border: 1px solid #DDD;
	border-bottom: 1px solid #DDD;

	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-bottom-left-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;

	height: 26px;

	margin: 10px 0px 0px;
	padding: 6px 10px;
	position: relative;
}

#repo ul.menu li {
	display: inline;
	list-style-type: none;
	margin: 0px;
	height: 26px;
	line-height: 26px;
}

#repo ul.menu li.current-branch {
	border-left: 1px solid #DDD;
	font-size: 11px;
	height: 26px;
	padding: 6px 10px;
	position: absolute;
	right: 0px;
	top: 0px;
}

#repo ul.menu li.current-branch span {
	color: #666;
	cursor: pointer;
	display: block;
	height: 26px;
	line-height: 26px;
	padding-right: 5px;
}

#repo ul.menu li.button {
	color: #777;
	padding: 3px 3px;
	font-size: 120%;
	font-weight: bold;
	margin-right: 10px;

	text-shadow: rgba(255, 255, 255, 0.496094) 1px 1px 0px;
}

#repo ul.submenu {
	margin: 0;
	padding: 0;
	height: 23px;
	padding: 4px 0 0 6px;
	border-bottom: 1px solid #D2D2D2;
	border-top: 1px solid #FAFAFA;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

#repo ul.submenu li {
	display: inline;
	list-style-type: none;
	margin: 0px;
	height: 23px;
	line-height: 18px;
	font-size: 11px;
	color: #666;
	padding: 5px;
}

#repo ul.submenu li.hovering {
	background: #f8f8f8;
	border: 1px solid #CCC;
	padding: 4px;
}

#repo ul.switches {
	background: #F8F8F8;
	border: 1px solid #CCC;
	min-width: 180px;
	overflow: auto;
	position: absolute;
	top: 75px;
	z-index: 4;
	padding-left: 15px;
	display: none
}

#repo ul.switches li {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none
}

#repo ul.switches li:hover {
	border: 0;
	padding: 0;
}

#repo ul.switches li span {
	color: #666;
	font-size: 11px;
	padding: 7px;
}

#repo ul a {
	color: #666;
}

#repo ul.switches a {
	color: #4183C4;
	font-weight: bold;
}

#repo ul a:hover {
	text-decoration: none;
}

#repo .summary {
	border: 1px solid #DDD;
	border-top: 0;
	padding: 7px;
	background: #fafafa;
}

#readme {
	background-color: #f8f8f8;
	padding: .7em;
	border:1px solid #e9e9e9;
}



.wikistyle h1,.wikistyle h2,.wikistyle h3,.wikistyle h4,.wikistyle h5,.wikistyle h6{border:0!important;}
.wikistyle h1{font-size:170%!important;border-top:4px solid #aaa!important;padding-top:.5em!important;margin-top:1.5em!important;}
.wikistyle h1:first-child{margin-top:0!important;padding-top:.25em!important;border-top:none!important;}
.wikistyle h2{font-size:150%!important;margin-top:1.5em!important;border-top:4px solid #e0e0e0!important;padding-top:.5em!important;}
.wikistyle h3{margin-top:1em!important;}
.wikistyle p{margin:1em 0!important;line-height:1.5em!important;}
.wikistyle a.absent{color:#a00;}
.wikistyle ul,#wiki-form .content-body ul{margin:1em 0 1em 2em!important;}
.wikistyle ol,#wiki-form .content-body ol{margin:1em 0 1em 2em!important;}
.wikistyle ul li,#wiki-form .content-body ul li,.wikistyle ol li,#wiki-form .content-body ol li{margin-top:.5em;margin-bottom:.5em;}
.wikistyle ul ul,.wikistyle ul ol,.wikistyle ol ol,.wikistyle ol ul,#wiki-form .content-body ul ul,#wiki-form .content-body ul ol,#wiki-form .content-body ol ol,#wiki-form .content-body ol ul{margin-top:0!important;margin-bottom:0!important;}
.wikistyle blockquote{margin:1em 0!important;border-left:5px solid #ddd!important;padding-left:.6em!important;color:#555!important;}
.wikistyle dt{font-weight:bold!important;margin-left:1em!important;}
.wikistyle dd{margin-left:2em!important;margin-bottom:1em!important;}
.wikistyle table{margin:1em 0!important;}
.wikistyle table th{border-bottom:1px solid #bbb!important;padding:.2em 1em!important;}
.wikistyle table td{border-bottom:1px solid #ddd!important;padding:.2em 1em!important;}
.wikistyle pre{margin:1em 0;font-size:12px;background-color:#eee;border:1px solid #ddd;padding:5px;line-height:1.5em;color:#444;overflow:auto;-webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.wikistyle pre::-webkit-scrollbar{height:8px;width:8px;}
.wikistyle pre::-webkit-scrollbar-track-piece{margin-bottom:10px;background-color:#e5e5e5;border-bottom-left-radius:4px 4px;border-bottom-right-radius:4px 4px;border-top-left-radius:4px 4px;border-top-right-radius:4px 4px;}
.wikistyle pre::-webkit-scrollbar-thumb:vertical{height:25px;background-color:#ccc;-webkit-border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(255,255,255,1);}
.wikistyle pre::-webkit-scrollbar-thumb:horizontal{width:25px;background-color:#ccc;-webkit-border-radius:4px;}
.wikistyle pre code{padding:0!important;font-size:12px!important;background-color:#eee!important;border:none!important;}
.wikistyle code{font-size:12px!important;background-color:#f8f8ff!important;color:#444!important;padding:0 .2em!important;border:1px solid #dedede!important;}
.wikistyle a code,.wikistyle a:link code,.wikistyle a:visited code{color:#4183c4!important;}
.wikistyle img{max-width:100%;}
.wikistyle pre.console{margin:1em 0!important;font-size:12px!important;background-color:black!important;padding:.5em!important;line-height:1.5em!important;color:white!important;}
.wikistyle pre.console code{padding:0!important;font-size:12px!important;background-color:black!important;border:none!important;color:white!important;}
.wikistyle pre.console span{color:#888!important;}
.wikistyle pre.console span.command{color:yellow!important;}
.wikistyle .frame{margin:0;display:inline-block;}
.wikistyle .frame img{display:block;}
.wikistyle .frame>span{display:block;border:1px solid #aaa;padding:4px;}
.wikistyle .frame span span{display:block;font-size:10pt;margin:0;padding:4px 0 2px 0;text-align:center;line-height:10pt;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;}
.wikistyle .float-left{float:left;padding:.5em 1em .25em 0;}
.wikistyle .float-right{float:right;padding:.5em 0 .25em 1em;}
.wikistyle .align-left{display:block;text-align:left;}
.wikistyle .align-center{display:block;text-align:center;}
.wikistyle .align-right{display:block;text-align:right;}

#readme .pre {
	white-space: pre;
}
