body
{
	font: normal normal normal 13.34px/normal helvetica, arial, freesans, clean, sans-serif;
	text-align: center;
}

a
{
	color: #4183C4;
	text-decoration: none;
}

div.site
{
	margin: 0px auto 0px auto;
	width: 920px;
	text-align: left;
}

div.site h1.title
{
	background: #484848;
	color: #e1e1e1;
	margin-bottom: 0;
	padding: 7px;

	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

div.site div.footer
{
	text-align: center;
	background: #484848;
	color: #e1e1e1;
	font-size: 10px;
	padding: 5px;
	margin-top: 20px;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* breadcrumbs */
{% include "pyggi/style/breadcrumbs.css" %}

/* menu */
{% include "pyggi/style/menu.css" %}

/* content */
{% include "pyggi/style/content.css" %}

/* commit */
{% include "pyggi/style/commit.css" %}
{% include "pyggi/style/info.css" %}

/* readme */
{% include "pyggi/style/readme.css" %}
{% include "pyggi/style/wikistyle.css" %}

/* tree browser */
{% include "pyggi/style/browser.css" %}

/* blob */
{% include "pyggi/style/blob.css" %}

/* shortlog */
{% include "pyggi/style/shortlog.css" %}
